@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background: #e3e3e7;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50% auto auto auto;
    transform: translateY(-50%);
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.2));
}

.card__item {
    max-width: 600px;
    max-height: 430px;
}

.card-2__header,
.card-3__header {
    font-size: 40px;
    font-weight: 300;
    color: #626262;
    text-align: center;
}

.card-2__header {
    margin-bottom: 39px;
    word-spacing: 3px;
    letter-spacing: -1px;
}

.card-3__header {
    min-width: 250px;
    margin-bottom: 49px;
    text-align: start;
}

.card-3__header span {
    letter-spacing: -1px;
    margin-left: -28px;
}

.card-2__header span,
.card-3__header span {
    display: block;
    text-align: center;
    margin-top: -7px;
}

.card-1 {
    background: url("../img/card1.jpg.jpg") no-repeat;
    background-size: cover;
    width: 600px;
}

.card-4 {
    background: url("../img/card4.jpg.jpg") no-repeat;
    background-size: cover;
    width: 600px;
}

.card__link {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #e27c2a;
    border: 1px solid #e27c2a;
    border-radius: 4px;
    padding: 5px 25px 11px 38px;
    text-decoration: none;
}

.card__item:nth-child(2),
.card__item:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.card__item:nth-child(2) {
    padding: 130px 153px 120px 147px;
}

.card__item:nth-child(3) {
    word-spacing: -4px;
    padding: 120px 176px 130px 198px;
}

.card__item:nth-child(3) .card__link {
    transform: translate(-10px, -11px);
    word-spacing: 1px;
    padding: 5px 31px 11px 36px;
}
