@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler.woff2') format('woff2'),
    url('../fonts/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-Medium.woff2') format('woff2'),
    url('../fonts/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #e3e3e7;
}

.card__container {
    display: flex;
    max-width: 1200px;
    background: #fff;
    margin: 50% auto auto auto;
    transform: translateY(-50%);
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.7));
}

.card__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 106px 84px 129px 100px;
}

.card__right {
    background: url("../img/card1-img.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.card__header,
.card__text,
.card__link {
    font-family: 'Butler', 'sans-serif';
    font-weight: 400;
    text-align: center;
}

.card__header {
    font-size: 50px;
    color: #000;
    margin-bottom: 52px;
    line-height: .7;
    letter-spacing: 3px;
}

.card__header span {
    font-size: 100px;
    color: #000;
    line-height: 1.2;
    letter-spacing: 5px;
}

.card__text {
    font-size: 30px;
    color: #f36f4a;
    margin-bottom: 65px;
    word-spacing: -2px;
    letter-spacing: 2px;
}

.card__text span {
    display: block;
    text-align: center;
}

.card__link {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 35px;
    padding: 19px 82px 19px 105px;
    max-width: 340px;
    letter-spacing: 1px;
    margin-left: -15px;
}